{% load static %}

<main class="main__content_wrapper">
    <!-- Start breadcrumb section -->
    <section class="breadcrumb__section breadcrumb__bg">
        <div class="container">
            <div class="row row-cols-1">
                <div class="col">
                    <div class="breadcrumb__content text-center">
                        <h1 class="breadcrumb__content--title text-white mb-25">Maxsulotlarimiz</h1>
                        <ul class="breadcrumb__content--menu d-flex justify-content-center">
                            <li class="breadcrumb__content--menu__items"><a class="text-white"
                                                                            href="{% url 'index' %}">Asosiy</a></li>
                            <li class="breadcrumb__content--menu__items"><span class="text-white">Shop</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End breadcrumb section -->
    <br>
    <br>
    <section class="about_section">
        <div class="container">
            <div class="row">
                <div class="about__content">
                    {% for rs in home_about %}
                        {{ rs.content | safe }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
</main>