{% load static %}

{% for rs in home_title %}
<section class="homew1">
    <video class="video-slide active" src="{{ rs.video.url }}" autoplay muted loop></video>
    <div class="content active">
        <img style="margin-left: -15px; margin-bottom: 15px;" width="300px" src="{{ rs.image.url }}" alt="t">
        <p style="color: white">{{ rs.description }}</p>
        <a href="{{ rs.button_link }}">{{ rs.button }}</a>
    </div>
</section>
{% endfor %}
<script type="text/javascript">
    //Javacript for responsive navigation menu
    const menuBtn = document.querySelector(".menu-btn");
    const navigation = document.querySelector(".navigation");

    menuBtn.addEventListener("click", () => {
        menuBtn.classList.toggle("active");
        navigation.classList.toggle("active");
    });

    //Javacript for video slider navigation
    const btns = document.querySelectorAll(".nav-btn");
    const slides = document.querySelectorAll(".video-slide");
    const contents = document.querySelectorAll(".content");

    var sliderNav = function (manual) {
        btns.forEach((btn) => {
            btn.classList.remove("active");
        });

        slides.forEach((slide) => {
            slide.classList.remove("active");
        });

        contents.forEach((content) => {
            content.classList.remove("active");
        });

        btns[manual].classList.add("active");
        slides[manual].classList.add("active");
        contents[manual].classList.add("active");
    }

    btns.forEach((btn, i) => {
        btn.addEventListener("click", () => {
            sliderNav(i);
        });
    });
</script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

    .homew1 {
        padding: 100px 200px;
    }

    .homew1 {
        position: relative;
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #CB0065;
    }

    .homew1:before {
        z-index: 777;
        content: '';
        position: absolute;
        background: rgba(203, 0, 101, 0.2);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .homew1 .content {
        z-index: 888;
        color: #fff;
        width: 70%;
        margin-top: 50px;
        display: none;
    }

    .homew1 .content.active {
        display: block;
    }

    .homew1 .content h1 {
        font-size: 4em;
        font-weight: 900;
        text-transform: uppercase;
        font-family: Roboto, sans-serif;
        letter-spacing: 5px;
        line-height: 75px;
        margin-bottom: 40px;
    }

    .homew1 .content h1 span {
        font-size: 1.2em;
        font-weight: 600;
    }

    .homew1 .content p {
        margin-bottom: 65px;
    }

    .homew1 .content a {
        background: #fff;
        padding: 15px 35px;
        color: #CB0065;
        font-size: 1.1em;
        font-weight: 500;
        text-decoration: none;
        border-radius: 2px;
    }

    .homew1 .media-icons {
        z-index: 888;
        position: absolute;
        right: 30px;
        display: flex;
        flex-direction: column;
        transition: 0.5s ease;
    }

    .homew1 .media-icons a {
        color: #fff;
        font-size: 1.6em;
        transition: 0.3s ease;
    }

    .homew1 .media-icons a:not(:last-child) {
        margin-bottom: 20px;
    }

    .homew1 .media-icons a:hover {
        transform: scale(1.3);
    }

    .homew1 video {
        z-index: 000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .slider-navigation {
        z-index: 888;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(80px);
        margin-bottom: 12px;
    }

    .slider-navigation .nav-btn {
        width: 12px;
        height: 12px;
        background: #fff;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
        transition: 0.3s ease;
    }

    .slider-navigation .nav-btn.active {
        background: #CB0065;
    }

    .slider-navigation .nav-btn:not(:last-child) {
        margin-right: 20px;
    }

    .slider-navigation .nav-btn:hover {
        transform: scale(1.2);
    }

    .video-slide {
        position: absolute;
        width: 100%;
        clip-path: circle(0% at 0 50%);
    }

    .video-slide.active {
        clip-path: circle(150% at 0 50%);
        transition: 2s ease;
        transition-property: clip-path;
    }

    @media (max-width: 1040px) {
        .homew1 {
            padding: 100px 20px;
        }

        .homew1 .media-icons {
            right: 15px;
        }
    }

    @media (max-width: 560px) {
        .homew1 .content h1 {
            font-size: 3em;
            line-height: 60px;
        }
    }

</style>